<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card mt-4">
        <div class="card-body">
          <form #singUp="ngForm" (ngSubmit)="Onsubmit(singUp)">
            <div class="form-group">
              <label for="username">User Name</label>
              <input
              (keyup)="onkeyup($event)"
               ngModel required maxlength="12" minlength="6" pattern="[a-zA-Z]+" name="username"
                #username="ngModel" type="text" class="form-control">

              <strong *ngIf="username.touched&&username.hasError('required')" class="text-danger">
                Username is required.
              </strong>

              <strong *ngIf="username.dirty&&username.hasError('minlength')" class="text-danger">
                Username must be at least 6 characters long.
              </strong>

              <strong *ngIf="username.dirty&&username.hasError('pattern')" class="text-danger">
                Username can only contain letters (no spaces or number or special characters).
              </strong>
              <strong *ngIf="userlength" class="text-danger">
                Username not allow more than 12 characters
              </strong>


            </div>

            <div class="form-group">
              <label for="email">Email</label>
              <input ngModel required="" name="email" #email="ngModel" type="text"
                pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" class="form-control">

              <strong *ngIf="email.touched&&email.hasError('required')" class="text-danger">
                Email Id is required.
              </strong>

              <strong *ngIf="email.dirty&&email.hasError('pattern')" class="text-danger">
                "Please enter a valid email Id address.
              </strong>
            </div>


            <div class="from-group">
              <label for="question"> Favorite Question ?</label>
              <select ngModel required class="form-control" name="question" #question="ngModel" name="question"
                id="question">
                <option value="fav8food">Favorite food Item</option>
                <option value="fav8school">Favorite School Name</option>
              </select>

              <strong *ngIf="question.touched && question.hasError('required')" class="text-danger">
                Question select required !
              </strong>
            </div>

            <div class="form-group">
              <label for="Answer">Answer</label>
              <input ngModel required #answer="ngModel" name="answer" type="text" class="form-control">
              <strong *ngIf="answer.touched &&answer.hasError('required')" class="text-danger">
                Answer must required
              </strong>
            </div>

            <div class="form-group">
              <label for="subscribe">
                <input ngModel name="subscribe" #subscribe="ngModel" type="checkbox">
                Subscribe for Daily msg
              </label>
            </div>

            <div class="form-group">
              <label *ngFor="let getmsg of contactmsg" for="msg">
                <input ngModel [value]="getmsg.mode" required name="msg" #msg="ngModel" type="radio">
                {{getmsg.mode}}
              </label>
            </div>

            <button type="submit" [disabled]="singUp.invalid" class="btn btn-primary">
              Submmit
            </button>
          </form>
        </div>
      </div>

      <div class=" td table-responsive mt-4">
        <ng-container *ngIf="userArr.length>0;else NoUser">
          <table class="table table-striped ">
            <thead>
              <tr>
                <th>Sr No.</th>
                <th>User Name</th>
                <th>Email</th>
                <th>Contact</th>
                <th>Subscribe</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of userArr;let i=index">
                <td>{{i+1}}</td>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td>{{user.msg}}</td>
                <td>{{user.subscribe}}</td>
              </tr>
            </tbody>
          </table>
        </ng-container>
        <ng-template #NoUser>
          <p class="alert alert-imfo">
            User Not Available
          </p>
        </ng-template>
      </div>
    </div>
  </div>
</div>