<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-body">
          <form #signup="ngForm" (ngSubmit)="onSubmit(signup)">

            <div class="form-group">
              <label for="username"> username</label>
              <input ngModel required minlength="6" maxlength="12" #username="ngModel" name="username" type="text"
                pattern="[a-zA-Z]+" class="form-control">

              <strong *ngIf="username.touched&&username.hasError('required')" class="text-danger">
                Username Is required!!!
              </strong>
              <strong *ngIf="username.dirty&&username.hasError('minlength')" class="text-danger">
                Username at least 6 charachtor must required
              </strong>

              <strong *ngIf="username.dirty&&username.hasError('pattern')" class="text-danger">
                Username is in Valid pattern ,Not Allow number and special charactor
              </strong>

            </div>

            <div class="form-group">
              <label for="email">Email</label>
              <input required #email="ngModel" name="email" ngModel type="text"
              pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" class="form-control">

              <strong *ngIf="email.touched && email.hasError('required')" class="text-danger">
                Email is reuired Field..
              </strong>
              <strong *ngIf="email.touched && email.hasError('pattern')" class="text-danger">
                email should be in valid pattern
              </strong>
            </div>

            <div class="form-group">
              <label for="fev8que"> Fev question</label>
              <select ngModel required #fev8que="ngModel" name="fev8que" class="form-control" id="fev8que">
                <option value="fev8food"> feviriat food item</option>
                <option value="school"> feviriat school name</option>
              </select>

              <strong *ngIf="fev8que.touched&& fev8que.hasError('required')" class="text-danger">
                question must be select !
              </strong>
            </div>

            <div class="form-group">
              <label for="answer">Answer</label>
              <input ngModel required #answer="ngModel" name="answer" type="text" class="form-control">
              <strong *ngIf="answer.touched&&answer.hasError('required')" class="text-danger">
                Answer should be required!
              </strong>
            </div>

            <div class="form-group">
              <label for="subcribe">
                <input required ngModel name="subcribe" type="checkbox">
                Subcribe for daily msg
              </label>
            </div>

            <div class="form-group">
              <label *ngFor="let moc of contactmsg" for="">
                <input required ngModel [value]="moc.mode" name="msg" type="radio">{{moc.mode}}
              </label>
            </div>


            <button class="btn btn-info" [disabled]="signup.invalid">
              Submit
            </button>
          </form>

          <!-- {{signup.value |json}} -->
        </div>
      </div>
    </div>

    <div class="col-md-10 offset-md-1 mt-4">
      <table class="table">
        <thead>
          <tr>
            <th> Sr No </th>
            <th>UserName</th>
            <th>Email</th>
            <th>Subcribe</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let obj of userObj;let i=index">
            <td>{{i+1}}</td>
            <td>{{obj.username}}</td>
            <td>{{obj.email}}</td>
            <td>{{obj.subcribe}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>